@include tablet {
    .header {
      .logo {
        margin-left: 50px;
        .logo-img { width: 150px; }
      }
      .desktop-menu {
        display: none;
      }
      .mobile-menu {
        display: flex;
        position: absolute;
        top: 13px;
        right: 25px;
        margin-right: 25px;
      }
    }
    .Main {
      .content {
        position: relative;
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        .main-title {
          position: absolute;
          width: 200px;
          bottom: unset;
          right: 10%;
          font-size: 4em;
          line-height: 1em;
          font-weight: bold;
          text-align: right;
          color: #fcfcfc;
          writing-mode: vertical-rl;
          z-index: 10;
        }
        .main-text {
          position: absolute;
          top: 50%;
          left: 10%;
          width: 650px;
          font-weight: 600;
          font-size: 1.3em;
          line-height: 1.6em;
          color: #fcfcfc;
        }
        .little-text {
          font-size: .8em;
          font-weight: 500;
          color: #fcfcfc;
        }
      }
      .scroll-down {
        position: absolute;
        width: 15vw;
        height: 100vh;
        top: 90%;
        left: 45%;
        color: #fcfcfc;
        font-size: 14px;
        font-weight: 200;
      }
    }
    .resume {
      position: relative;
      width: 95vw;
      height: 40vh;
      margin: 80px auto 200px;
  
      .resume-contents {
        justify-content: center;
        width: 30%;
        .intro-img {
          position: relative;
          img {
            width: 180px;
            height: 180px;
            border-radius: 180px;
            box-shadow: 1px;
            box-shadow: 3px 3px 10px rgba($color: #a8a9ad, $alpha: .6);
          }
        }
      }
  
      .resume-detail {
        justify-content: space-evenly;
        width: 70%;
        .career {
          width: 30%;
          font-weight: 800;
          font-size: 28px;
        }
        .career-detail {
          font-weight: 500;
          font-size: 14px;
          height: 320px;
          line-height: 16px;
        }
      }
      .resume-background {
        position: absolute;
        top: -50px;
        width: 100%;
        height: 450px;
        background-color: #bcd4e6;
        border-radius: 100px;
        box-shadow: 5px 5px 15px rgba($color: #4682b4, $alpha: .6);
        z-index: -10;
      }
    }
    .skills {
      position: relative;
      flex-direction: column;
      flex-wrap: nowrap !important;
      width: 100vw;
      height: 340vh;
      margin: 250px auto 250px;
      .skills-intro {
        position: relative;
        width: 80vw;
        max-width: unset;
        margin: 200px auto 30px;
        .skill-image {
          width: 768px;
          .css3 {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: 1100px; left: 500px; width: 100px;
          }
          .html5 {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: 600px; left: 350px; width: 150px;
          }
          .github {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: 900px; left: 0px; width: 250px;
          }
          .node {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: 1350px; left: 400px; width: 200px;
          }
          .illustration {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: 0px; left: 400px; width: 150px;
          }
          .xd {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: 1500px; left: -50px; width: 150px;
          }
          .javascript {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: 700px; left: 440px; width: 200px;
          }
          .typescript {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: 1700px; left: 50px; width: 200px;
          }
          .nuxt {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: -300px; left: 40px; width: 300px;
          }
          .pgadmin {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: 400px; left: 250px; width: 100px;
          }
          .postman {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: 150px; left: 0px; width: 150px;
          }
          .python {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: 0px; left: 200px; width: 150px;
          }
          .sass {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: 500px; left: 0px; width: 300px;
          }
          .vim {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: 220px; left: 400px; width: 150px;
          }
          .vscode {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: 1250px; left: 50px; width: 150px;
          }
          .vue {
            position: absolute;
            opacity: .05;
            z-index: -10;
            top: 1900px; left: 370px; width: 300px;
          }
        }
        .skills-text {
          width: 100%;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          &:nth-child(1),
          &:nth-child(2) {
            font-size: 24px;
            line-height: 34px;
            font-weight: 600 !important;
          }
          &:nth-child(3),
          &:nth-child(6),
          &:nth-child(9) {
            margin-top: 10px;
          }
        }
        .skills-title-box {
          position: relative;
          bottom: 350px;
          left: -1650px;
          width: 2000px;
          height: 400px; 
          background-color: transparent;
          border-radius: 40px;
          border: 7px solid #ffa343;
          box-shadow: 2px 4px 10px #bfc1c2;
        }
      }
      .frontend-text {
        font-weight: 600;
        font-size: 26px;
        line-height: 16px;
        margin-bottom: 20px;
      }
      .backend-text,
      .tools-text {
        width: 200px;
        font-weight: 600;
        font-size: 26px;
        line-height: 16px;
        margin: 60px 0 20px;
      }
      .skill-list {
        position: relative;
        margin: 0 auto;
        padding-left: 100px;
        .backend-list {
          margin-left: -200px;
        }
        .skills-text {
          width: 100px;
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          margin-bottom: 20px;
        }
        .progress {
          margin-bottom: 20px;
        }
      }
    }
    .reference {
      position: relative;
      width: 100vw;
      height: 140vh;
      margin: 500px auto 100px;
      .reference-section {
        position: relative;
        width: 100%;
        .section-title {
          font-weight: 800;
          font-size: 42px;
        }
        .section-bg-text {
          position: absolute;
          top: 200px;
          left: -440px;
          transform: rotateZ(90deg);
          opacity: 0.1;
          font-size: 200px;
          font-weight: 900;
        }
        .section-text {
          width: fit-content;
          margin: 10px 0 10px 150px;
          padding-bottom: 5px;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          border-bottom: 3px solid #1b1811;
          border-spacing: 10px;
        }
      }
      .reference-list {
        .reference-column {
          .reference-item {
            height: 200px;
            margin: 20px 30px;
            border: 1px solid rgba(#1b1811, 0.3);
            border-radius: 10px;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            overscroll-behavior: auto;
            &::-webkit-scrollbar {
              display: none;
            }
          }
          & img {
            width: 350px;
            height: auto;
          }
          .item-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
      .reference-background {
        position: absolute;
        top: -200px;
        left: -400px;
        width: 750px;
        height: 750px;
        opacity: 0.2;
        background-color: #fc419a;
        border-radius: 750px;
        box-shadow: 5px 5px 15px rgba($color: #a8a9ad, $alpha: .6);
        z-index: -10;
        &:last-child {
          top: 450px;
          left: 350px;
          width: 400px;
          height: 400px;
          opacity: 0.4;
          background-color: #00cc99;
          border-radius: 400px;
          box-shadow: 5px 5px 15px rgba($color: #a8a9ad, $alpha: .6);
        }
      }
    }
    .contact {
      position: relative;
      width: 100vw;
      height: 70vh;
      margin: 150px auto 200px;
      .contact-section {
        position: relative;
        margin: 0 auto;
        .contact-title {
          position: relative;
          font-weight: 800;
          font-size: 42px;
        }
        .contact-list {
          position: relative;
          .kakaotalk {
            position: relative;
            width: 300px;
            .kakaotalk-title,
            .kakaotalk-image {
              font-weight: 500;
              font-size: 20px;
              margin: 20px auto 50px;
            }
            .kakaotalk-desc {
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              text-align: center;
            }
          }
          .email-title {
            font-weight: 500;
            font-size: 20px;
            text-align: center;
            margin: 20px auto 50px;
          }
          .contact-form {
            * {box-sizing: border-box;}
  
            display: block;
            margin:auto;
            text-align: center;
            border-radius: 10px;
            padding: 10px;
            width: 100%;
            p {
              font-size: 10px;
              margin-bottom: 5px;
              text-align: right;
              color: red;
            }
            label {
              float: left;
            }
            input[type=text], [type=email], textarea {
              width: 100%;
              padding: 12px;
              border: none;
              border-radius: 10px;
              border-bottom: 1px solid #393432;
              box-sizing: border-box;
              margin-top: 6px;
              margin-bottom: 16px;
              background-color: #fbfbfb;
              resize: vertical;
            }
            input[type=submit] {
              background-color: #fbab60;
              color: #fefdfa;
              padding: 10px 16px;
              border: none;
              border-radius: 15px;
              cursor: pointer;
            }
            input[type=submit]:hover {
              background-color: #ffc377;
            }
            input[type=submit]:active {
              background-color: #ed9f55;
            }
          }
        }
      }
    }
  }